/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn-container {
  margin-bottom: 2rem;
}

button {
  margin-right: 1rem;
}
